🚗 TurboHippo/JSON設定檔/搶駕照(original_public).json
{
  "name": "搶駕照(public)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.mvdis.gov.tw/m3-emv-trn/exm/signUp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('拉Cookie').first().json.headers['set-cookie'][0].split(';')[0] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Referer",
              "value": "https://www.mvdis.gov.tw/m3-emv-trn/exm/locations"
            },
            {
              "name": "Origin",
              "value": "https://www.mvdis.gov.tw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "method",
              "value": "preAdd"
            },
            {
              "name": "secDateStr",
              "value": "={{ $json.secDate }}"
            },
            {
              "name": "secId",
              "value": "={{ $json.secId }}"
            },
            {
              "name": "divId",
              "value": "={{ $json.divId }}"
            },
            {
              "name": "licenseTypeCode",
              "value": "3"
            },
            {
              "name": "expectExamDateStr"
            },
            {
              "name": "_onlyWeekend",
              "value": "on"
            },
            {
              "name": "dmvNoLv1",
              "value": "70"
            },
            {
              "name": "dmvNo",
              "value": "74"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "name": "初始化報名表單",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3744,
        -224
      ],
      "id": "f62f60a3-6b28-4190-a88c-1e394da48233"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || JSON.stringify($input.first().json);\nconst match = html.match(/preAdd\\(\\s*'([\\d-]+)'\\s*,\\s*'(\\d+)'\\s*,\\s*'(\\d+)'\\s*\\)/);\n\nif (!match) throw new Error(\"找不到報名按鈕\");\n\nreturn {\n    secDate: match[1],\n    secId: match[2],\n    divId: match[3]\n};"
      },
      "name": "解析與組裝報名參數",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        -224
      ],
      "id": "8e5f3933-23cc-4492-8a22-1e951fac2935"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.mvdis.gov.tw/m3-emv-trn/exm/locations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('拉Cookie').first().json.headers['set-cookie'][0].split(';')[0] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Referer",
              "value": "https://www.mvdis.gov.tw/m3-emv-trn/exm/locations"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "method",
              "value": "query"
            },
            {
              "name": "licenseTypeCode",
              "value": "3"
            },
            {
              "name": "expectExamDateStr",
              "value": "1150320"
            },
            {
              "name": "dmvNoLv1",
              "value": "20"
            },
            {
              "name": "dmvNo",
              "value": "26"
            }
          ]
        },
        "options": {}
      },
      "name": "查詢場次",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3296,
        -224
      ],
      "id": "16e30bcf-df05-4e32-b1a1-22387280083d"
    },
    {
      "parameters": {
        "url": "https://www.mvdis.gov.tw/m3-emv-trn/exm/locations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "name": "拉Cookie",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3072,
        -224
      ],
      "id": "db63e358-2df3-4055-a4e9-07b4fb2152f0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.mvdis.gov.tw/m3-emv-trn/exm/signUp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('拉Cookie').first().json.headers['set-cookie'][0].split(';')[0] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Referer",
              "value": "https://www.mvdis.gov.tw/m3-emv-trn/exm/signUp"
            },
            {
              "name": "Origin",
              "value": "https://www.mvdis.gov.tw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "method",
              "value": "add"
            },
            {
              "name": "secDateStr",
              "value": "={{ $('解析與組裝報名參數').first().json.secDate }}"
            },
            {
              "name": "secId",
              "value": "={{ $('解析與組裝報名參數').first().json.secId }}"
            },
            {
              "name": "divId",
              "value": "={{ $('解析與組裝報名參數').first().json.divId }}"
            },
            {
              "name": "expectExamDateStr"
            },
            {
              "name": "_onlyWeekend",
              "value": "on"
            },
            {
              "name": "dmvNoLv1",
              "value": "70"
            },
            {
              "name": "dmvNo",
              "value": "74"
            },
            {
              "name": "licenseTypeCode",
              "value": "3"
            },
            {
              "name": "otp"
            },
            {
              "name": "idNo"
            },
            {
              "name": "birthdayStr"
            },
            {
              "name": "name"
            },
            {
              "name": "contactTel"
            },
            {
              "name": "email"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "name": "送出報名",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3968,
        -224
      ],
      "id": "037ba9f6-ed03-44b7-897a-d825fffb105c"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * *"
            }
          ]
        }
      },
      "name": "早八幹一票大的",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        2848,
        -224
      ],
      "id": "eceeda6e-19e4-40f9-9703-5c2b435a6c4d",
      "notesInFlow": false,
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "初始化報名表單": {
      "main": [
        [
          {
            "node": "送出報名",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析與組裝報名參數": {
      "main": [
        [
          {
            "node": "初始化報名表單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查詢場次": {
      "main": [
        [
          {
            "node": "解析與組裝報名參數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拉Cookie": {
      "main": [
        [
          {
            "node": "查詢場次",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "早八幹一票大的": {
      "main": [
        [
          {
            "node": "拉Cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c276f4be-e9bc-4b63-86dd-c9d381c91f5b",
  "meta": {
    "instanceId": "c376834c831cc6e3ba66c66d5aa7428b1e898ca74a0c5d1ee3784ace8475cc86"
  },
  "id": "QFQcDbZWBlq9BBRG",
  "tags": []
}