🚗 TurboHippo/JSON設定檔/搶駕照(interactive_public).json
{
  "name": "搶駕照(互動)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "59 59 7 * * *"
            }
          ]
        }
      },
      "name": "早八幹一票大的",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        -128
      ],
      "id": "ee6d5cd1-2d6f-41a2-b269-faea6abc54dc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
              "name": "licenseTypeCode",
              "value": "={{ $json[\"車種代碼\"] }}",
              "type": "string"
            },
            {
              "id": "f1e2d3c4-b5a6-4c7d-8e9f-0a1b2c3d4e5f",
              "name": "expectExamDateStr",
              "value": "={{ $json[\"報名日期\"] }}",
              "type": "string"
            },
            {
              "id": "2bc35fc0-a8d0-4af9-a9c1-79b8a0de4e22",
              "name": "dmvNoLv1",
              "value": "={{ $json[\"監理所代碼\"] }}",
              "type": "string"
            },
            {
              "id": "e2a39a9c-0744-4f0e-9d21-4f1e96f1d2e1",
              "name": "dmvNo",
              "value": "={{ $json[\"監理站代碼\"] }}",
              "type": "string"
            },
            {
              "id": "b1a2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
              "name": "idNo",
              "value": "={{ $json[\"身分證\"] }}",
              "type": "string"
            },
            {
              "id": "c1a2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
              "name": "birthdayStr",
              "value": "={{ $json[\"生日\"] }}",
              "type": "string"
            },
            {
              "id": "d1a2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
              "name": "name",
              "value": "={{ $json[\"姓名\"] }}",
              "type": "string"
            },
            {
              "id": "60e7cb2f-bc41-41f9-97b6-abce4f6280ab",
              "name": "email",
              "value": "={{ $json[\"Email\"]}}",
              "type": "string"
            },
            {
              "id": "e1a2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
              "name": "contactTel",
              "value": "={{ $json[\"手機號碼\"] }}",
              "type": "string"
            },
            {
              "id": "87205cca-ed51-480c-a75a-7e6352b90338",
              "name": "tid",
              "value": "={{ $json[\"TelegramID\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "設定全域參數",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -128
      ],
      "id": "5fd509c5-8dbe-4d68-89dc-f6fb4ae5a419"
    },
    {
      "parameters": {
        "url": "https://www.mvdis.gov.tw/m3-emv-trn/exm/locations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "name": "拉Cookie",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        640,
        -128
      ],
      "id": "12718ad6-940a-4a09-ba29-0a5fe18f738b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.mvdis.gov.tw/m3-emv-trn/exm/locations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('拉Cookie').first().json.headers['set-cookie'][0].split(';')[0] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Referer",
              "value": "https://www.mvdis.gov.tw/m3-emv-trn/exm/locations"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "method",
              "value": "query"
            },
            {
              "name": "licenseTypeCode",
              "value": "={{ $('設定全域參數').first().json.licenseTypeCode }}"
            },
            {
              "name": "expectExamDateStr",
              "value": "={{ $('設定全域參數').first().json.expectExamDateStr }}"
            },
            {
              "name": "dmvNoLv1",
              "value": "={{ $('設定全域參數').first().json.dmvNoLv1 }}"
            },
            {
              "name": "dmvNo",
              "value": "={{ $('設定全域參數').first().json.dmvNo }}"
            }
          ]
        },
        "options": {}
      },
      "name": "查詢場次",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        864,
        -128
      ],
      "id": "bc996769-fe2a-43c6-9d59-087b0c14a857"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n    // 抓取這個人查詢到的網頁原始碼\n    const html = item.json.data || JSON.stringify(item.json);\n    const match = html.match(/preAdd\\(\\s*'([\\d-]+)'\\s*,\\s*'(\\d+)'\\s*,\\s*'(\\d+)'\\s*\\)/);\n\n    if (!match) {\n        // 找不到按鈕：給他一個 hasButton = false 的標籤\n        item.json.hasButton = false;\n    } else {\n        // 找到按鈕：給他 hasButton = true，並塞入專屬他的報名參數\n        item.json.hasButton = true;\n        item.json.secDate = match[1];\n        item.json.secId = match[2];\n        item.json.divId = match[3];\n    }\n    \n    // 把這筆資料完好無缺地傳給下一關\n    return item;\n});"
      },
      "name": "解析與組裝報名參數",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -128
      ],
      "id": "330b683c-b1eb-49e9-9844-3ce193db2829"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.mvdis.gov.tw/m3-emv-trn/exm/signUp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('拉Cookie').first().json.headers['set-cookie'][0].split(';')[0] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Referer",
              "value": "https://www.mvdis.gov.tw/m3-emv-trn/exm/locations"
            },
            {
              "name": "Origin",
              "value": "https://www.mvdis.gov.tw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "method",
              "value": "preAdd"
            },
            {
              "name": "secDateStr",
              "value": "={{ $json.secDate }}"
            },
            {
              "name": "secId",
              "value": "={{ $json.secId }}"
            },
            {
              "name": "divId",
              "value": "={{ $json.divId }}"
            },
            {
              "name": "licenseTypeCode",
              "value": "={{ $('設定全域參數').first().json.licenseTypeCode }}"
            },
            {
              "name": "expectExamDateStr",
              "value": "={{ $('設定全域參數').first().json.expectExamDateStr }}"
            },
            {
              "name": "_onlyWeekend",
              "value": "on"
            },
            {
              "name": "dmvNoLv1",
              "value": "={{ $('設定全域參數').first().json.dmvNoLv1 }}"
            },
            {
              "name": "dmvNo",
              "value": "={{ $('設定全域參數').first().json.dmvNo }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "name": "初始化報名表單",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1312,
        -128
      ],
      "id": "a2b50e23-a1ae-4391-bca5-92d956547d51"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.mvdis.gov.tw/m3-emv-trn/exm/signUp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('拉Cookie').first().json.headers['set-cookie'][0].split(';')[0] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Referer",
              "value": "https://www.mvdis.gov.tw/m3-emv-trn/exm/signUp"
            },
            {
              "name": "Origin",
              "value": "https://www.mvdis.gov.tw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "method",
              "value": "add"
            },
            {
              "name": "secDateStr",
              "value": "={{ $('解析與組裝報名參數').item.json.secDate }}"
            },
            {
              "name": "secId",
              "value": "={{ $('解析與組裝報名參數').item.json.secId }}"
            },
            {
              "name": "divId",
              "value": "={{ $('解析與組裝報名參數').item.json.divId }}"
            },
            {
              "name": "expectExamDateStr",
              "value": "={{ $('設定全域參數').first().json.expectExamDateStr }}"
            },
            {
              "name": "_onlyWeekend",
              "value": "on"
            },
            {
              "name": "dmvNoLv1",
              "value": "={{ $('設定全域參數').first().json.dmvNoLv1 }}"
            },
            {
              "name": "dmvNo",
              "value": "={{ $('設定全域參數').first().json.dmvNo }}"
            },
            {
              "name": "licenseTypeCode",
              "value": "={{ $('設定全域參數').first().json.licenseTypeCode }}"
            },
            {
              "name": "otp"
            },
            {
              "name": "idNo",
              "value": "={{ $('設定全域參數').first().json.idNo }}"
            },
            {
              "name": "birthdayStr",
              "value": "={{ $('設定全域參數').first().json.birthdayStr }}"
            },
            {
              "name": "name",
              "value": "={{ $('設定全域參數').first().json.name }}"
            },
            {
              "name": "contactTel",
              "value": "={{ $('設定全域參數').first().json.contactTel }}"
            },
            {
              "name": "email",
              "value": "={{ $('設定全域參數').first().json.email }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "name": "送出報名",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1536,
        -128
      ],
      "id": "b9db18b5-8ae8-47db-a10c-1f64ca725206",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.mvdis.gov.tw/m3-emv-trn/exm/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('拉Cookie').first().json.headers['set-cookie'][0].split(';')[0] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Referer",
              "value": "https://www.mvdis.gov.tw/m3-emv-trn/exm/query"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "method",
              "value": "query"
            },
            {
              "name": "idNo",
              "value": "={{ $('設定全域參數').first().json.idNo }}"
            },
            {
              "name": "birthdayStr",
              "value": "={{ $('設定全域參數').first().json.birthdayStr }}"
            }
          ]
        },
        "options": {}
      },
      "name": "查詢報名結果",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1760,
        -224
      ],
      "id": "95d3c6cf-9a73-41a4-8d94-84d0c65ba47f"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.isSuccess}}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        }
      },
      "name": "是否成功",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2208,
        -224
      ],
      "id": "1b4ba5bc-d539-4314-b76b-964cefbade25"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "0c448506-d3eb-444e-8c0f-e4c69cda32d7",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -736
      ],
      "webhookId": "請自行更改為自己的WebhookID",
      "credentials": {
        "telegramApi": {
          "id": "請自行更改為自己的Telegram帳號",
          "name": "請自行修改"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text }}",
              "operation": "startsWith",
              "value2": "請自行設立過濾碼"
            }
          ]
        }
      },
      "id": "8a68fa60-e291-4762-b2cb-8c54a2f4cbb2",
      "name": "過濾密語",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        416,
        -640
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "請自行修改",
          "mode": "list",
          "cachedResultName": "請自行修改",
          "cachedResultUrl": "請自行修改"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "請自行修改"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "處理狀態",
              "lookupValue": "登記成功"
            }
          ]
        },
        "options": {
          "returnFirstMatch": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -128
      ],
      "id": "d5a6f13b-9c03-4327-9265-dfd546e345a8",
      "name": "引入參數",
      "credentials": {
        "googleApi": {
          "id": "請自行修改",
          "name": "請自行修改"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('設定全域參數').item.json.tid}}",
        "text": "查無場次或額滿，請重新嘗試其他日期",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        -32
      ],
      "id": "63e4c946-7c10-4d05-b61e-9b74abf0a8c3",
      "name": "無場次",
      "webhookId": "請自行修改為自己的WebhookID",
      "credentials": {
        "telegramApi": {
          "id": "請自行更改為自己的Telegram帳號",
          "name": "請自行修改"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. 取得原始資料\nconst html = $input.item.json.data || \"\"; \nconst predictDateStr = $('設定全域參數').item.json.expectExamDateStr.toString().trim(); \nconst typeCode = $('設定全域參數').item.json.licenseTypeCode;\nconst dmvNo = $('設定全域參數').item.json.dmvNo; \n\n// 2. 對照表：車種與監理站\nconst typeMap = {\n    '3': '普通重型機車', '5': '普通輕型機車 (50cc 以下)', 'A': '普通小型車',\n    'B': '職業小型車', 'C': '普通大貨車', 'D': '職業大貨車',\n    'E': '普通大客車', 'F': '職業大客車', 'G': '普通聯結車', 'H': '職業聯結車'\n};\nconst targetType = typeMap[typeCode] || '未知車種';\n\nconst dmvMap = {\n    '21': '士林', '25': '基隆', '26': '金門', '28': '連江',\n    '40': '臺北區', '41': '板橋', '43': '宜蘭', '44': '花蓮', '45': '玉里', '46': '蘆洲',\n    '50': '新竹區', '51': '新竹市', '52': '桃園', '53': '中壢', '54': '苗栗',\n    '60': '臺中區', '61': '臺中市', '62': '埔里', '63': '豐原', '64': '彰化', '65': '南投',\n    '70': '嘉義區', '71': '東勢', '72': '雲林', '73': '新營', '74': '臺南', '75': '麻豆', '76': '嘉義市',\n    '30': '高雄市區', '31': '苓雅', '33': '旗山',\n    '80': '高雄區', '81': '臺東', '82': '屏東', '83': '恆春', '84': '澎湖'\n};\nconst targetDmv = dmvMap[dmvNo] || \"\"; \n\n// 3. 核心日期處理函數：強制轉為 7 位數數字 (例如 1150416)\nfunction toDateNum(str) {\n    if (!str) return 0;\n    let year, month, day;\n    const s = str.toString().replace(/[^0-9]/g, '');\n\n    if (s.length === 7) { // 1150416\n        year = parseInt(s.substring(0, 3));\n        month = parseInt(s.substring(3, 5));\n        day = parseInt(s.substring(5, 7));\n    } else if (s.length === 8 && s.startsWith('20')) { // 20260416\n        year = parseInt(s.substring(0, 4)) - 1911;\n        month = parseInt(s.substring(4, 6));\n        day = parseInt(s.substring(6, 8));\n    } else {\n        const chineseMatch = str.toString().match(/(\\d{3})年(\\d{1,2})月(\\d{1,2})日/);\n        if (chineseMatch) {\n            year = parseInt(chineseMatch[1]);\n            month = parseInt(chineseMatch[2]);\n            day = parseInt(chineseMatch[3]);\n        }\n    }\n    // 確保回傳純數字：YYYMMDD\n    return (year && month && day) ? (year * 10000 + month * 100 + day) : 0;\n}\n\nconst predictDateNum = toDateNum(predictDateStr);\n\n// 4. 解析 HTML 表格\nconst records = html.split('</tr>'); \nlet isSuccess = false;\nlet finalDate = \"未知日期\";\nlet errorDetails = \"查無此人的報名紀錄（請確認是否報名成功）\";\n\nfor (let record of records) {\n    // 必須有「取消報名」按鈕才視為有效紀錄\n    if (record.includes(\"取消報名\")) {\n        const hasDmv = record.includes(targetDmv);\n        const hasType = record.includes(targetType);\n        const dateMatch = record.match(/(\\d{3})年(\\d{1,2})月(\\d{1,2})日/);\n\n        if (hasDmv && hasType) {\n            if (dateMatch) {\n                const foundDateNum = toDateNum(dateMatch[0]);\n                \n                // 【核心邏輯】找到日期 >= 預計日期 (含當天)\n                if (Number(foundDateNum) >= Number(predictDateNum) && predictDateNum !== 0) {\n                    isSuccess = true;\n                    finalDate = dateMatch[0];\n                    errorDetails = \"全部符合\";\n                    break;\n                } else {\n                    errorDetails = `日期不符：系統找到${dateMatch[0]}，但您要求 ${predictDateStr} (含)之後的場次。`;\n                }\n            }\n        } else if (hasDmv && !hasType) {\n            errorDetails = `在${targetDmv} 有紀錄，但車種不符 (需要：${targetType})`;\n        } else if (!hasDmv && hasType) {\n            errorDetails = `有報名${targetType}，但地點不符 (目標：${targetDmv}監理站)`;\n        }\n    }\n}\n\nreturn {\n    isSuccess,\n    finalDate,\n    errorDetails,\n    targetType,\n    targetDmv: targetDmv + \"監理站\",\n    userName: $('設定全域參數').item.json.name,\n    rowNumber: $('引入參數').item.json.row_number \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -224
      ],
      "id": "b17a4d62-48e2-4f54-92ec-c4fd9e15a470",
      "name": "判斷報名結果"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "請自行修改",
          "mode": "list",
          "cachedResultName": "請自行修改",
          "cachedResultUrl": "請自行修改"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "請自行修改"
        },
        "toDelete": "=rows",
        "startIndex": "={{ $('引入參數').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2656,
        -320
      ],
      "id": "22318919-ecfd-4b44-9380-35eae70e5c4a",
      "name": "刪除使用者資料",
      "credentials": {
        "googleApi": {
          "id": "請自行修改",
          "name": "請自行修改"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('設定全域參數').item.json.tid}}",
        "text": "=✅ 報名成功\n姓名：{{ $json[\"姓名\"] }} \n日期：{{ $json[\"報名日期\"] }} ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2432,
        -320
      ],
      "id": "6a3bb850-2df6-4bef-9c80-912961b5f028",
      "name": "寄發成功訊息",
      "webhookId": "請自行修改為自己的WebhookID",
      "credentials": {
        "telegramApi": {
          "id": "請自行更改為自己的Telegram帳號",
          "name": "請自行修改"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "請自行修改",
          "mode": "list",
          "cachedResultName": "請自行修改",
          "cachedResultUrl": "請自行修改"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "請自行修改"
        },
        "startIndex": "={{ $('引入參數').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2656,
        -128
      ],
      "id": "d1caed61-8bdb-403b-a3de-5913d1676f17",
      "name": "刪除使用者資料1",
      "credentials": {
        "googleApi": {
          "id": "請自行修改",
          "name": "請自行修改"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('設定全域參數').item.json.tid}}",
        "text": "={{$json.errorDetails}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2432,
        -128
      ],
      "id": "cfa9584f-7672-47e5-ab8e-110753125b82",
      "name": "數據不符或查無",
      "webhookId": "請自行修改為自己的WebhookID",
      "credentials": {
        "telegramApi": {
          "id": "請自行更改為自己的Telegram帳號",
          "name": "請自行修改"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "請自行修改",
          "mode": "list",
          "cachedResultName": "請自行修改",
          "cachedResultUrl": "請自行修改"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "請自行修改"
        },
        "startIndex": "={{ $('引入參數').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1984,
        -32
      ],
      "id": "ad59e665-0fe1-43c9-973a-7e157531bdda",
      "name": "刪除使用者資料2",
      "credentials": {
        "googleApi": {
          "id": "請自行修改",
          "name": "請自行修改"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=<b>🚀 TurboHippo 駕照考試預約助手</b>\n\n------------------------------------------\n\n<b>👨‍💻 開發者的碎念 (Dev Story)</b>\n由於本人手速感人，人工預約屢次搶不到名額\n一氣之下，開發了這套工作流，又花了一整天優化互動介面\n希望能造福同樣深受秒殺之苦的你\n<b>#手速不夠科技來湊</b>\n\n------------------------------------------\n\n感謝您使用本系統！為確保報名流程順暢，請務必詳閱以下說明：\n\n<b>■ 報名格式</b>\n請依序輸入以下格式（以斜線 / 分隔）：\n<code>過濾碼/車種/欲考照日期/所代碼/站代碼/身分證/生日/姓名/電話/Email</code>\n\n<b>⚠️ 嚴格格式規範</b>\n<code>/* 格式錯誤將導致無法存入系統 */</code>\n• <b>車種：</b> 僅限單碼\n• <b>日期：</b> 民國格式 7 位數\n• <b>代碼：</b> 參考下方列表\n• <b>身分證字號：</b> 首字大寫英文 + 9 位數字\n• <b>生日：</b> 民國格式 7 位數\n• <b>電話：</b> 10 位數字不含分隔線\n\n<b>💡 填寫範例（點擊即可複製）：</b>\n<code>過濾碼/3/1150101/20/26/D123456789/0970101/陳阿明/0912345678/test@mail.com</code>\n\n\n------------------------------------------\n<b>■ 全台考驗地點代碼對照表</b>\n格式：<code>所代碼</code>-<code>站代碼</code>：地點名稱\n\n<b>【北基宜花區】</b>\n• <code>20</code>-<code>21</code>：士林站　 • <code>20</code>-<code>25</code>：基隆站\n• <code>40</code>-<code>40</code>：台北所　 • <code>40</code>-<code>41</code>：板橋站\n• <code>40</code>-<code>43</code>：宜蘭站　 • <code>40</code>-<code>44</code>：花蓮站\n• <code>40</code>-<code>45</code>：玉里分站 • <code>40</code>-<code>46</code>：蘆洲站\n\n<b>【離島地區 🏝️】</b>\n• <code>20</code>-<code>26</code>：金門站　 • <code>20</code>-<code>28</code>：連江站\n• <code>80</code>-<code>84</code>：澎湖站\n\n<b>【桃竹苗區】</b>\n• <code>50</code>-<code>50</code>：新竹所　 • <code>50</code>-<code>51</code>：新竹市站\n• <code>50</code>-<code>52</code>：桃園站　 • <code>50</code>-<code>53</code>：中壢站\n• <code>50</code>-<code>54</code>：苗栗站\n\n<b>【中彰投區】</b>\n• <code>60</code>-<code>60</code>：台中所　 • <code>60</code>-<code>61</code>：台中市站\n• <code>60</code>-<code>62</code>：埔里分站 • <code>60</code>-<code>63</code>：豐原站\n• <code>60</code>-<code>64</code>：彰化站　 • <code>60</code>-<code>65</code>：南投站\n\n<b>【雲嘉南區】</b>\n• <code>70</code>-<code>70</code>：嘉義所　 • <code>70</code>-<code>71</code>：東勢分站\n• <code>70</code>-<code>72</code>：雲林站　 • <code>70</code>-<code>73</code>：新營站\n• <code>70</code>-<code>74</code>：臺南站　 • <code>70</code>-<code>75</code>：麻豆站\n• <code>70</code>-<code>76</code>：嘉義市站\n\n<b>【高屏東區】</b>\n• <code>30</code>-<code>30</code>：高雄市所 • <code>30</code>-<code>31</code>：苓雅站\n• <code>30</code>-<code>33</code>：旗山站　 • <code>80</code>-<code>80</code>：高雄所\n• <code>80</code>-<code>81</code>：台東站　 • <code>80</code>-<code>82</code>：屏東站\n• <code>80</code>-<code>83</code>：恆春分站\n\n------------------------------------------\n<b>⚙️ 系統運行規則</b>\n• ⏰ <b>自動報名：</b> 每日 <b>08:00:00</b> 準時發送\n• 📬 <b>結果通知：</b> 作業完成後發送私訊\n• ⚠️ <b>重要提示：</b> 自動化系統難免出錯，報名成功後請務必自行至官網查詢確認\n\n------------------------------------------\n<b>⚖️ 法律免責聲明</b>\n1. <b>非官方授權：</b> 本工具為第三方自動化輔助程式，非監理機關官方管道\n2. <b>不保證結果：</b> 成功率受官網負載及名額影響，不承諾 100% 成功\n3. <b>隱私與風險：</b> 個資僅供報名使用。如因官網異動或維護導致失敗，本系統不負賠償責任\n4. <b>最終解釋權：</b> 報名狀態以監理服務網官方顯示為準\n\n------------------------------------------\n💡 <b>系統將於明早準時為您嘗試報名，祝考照順利</b>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        -832
      ],
      "id": "bc118fc4-b2ed-4fe1-b9dc-6481ababc33f",
      "name": "/start 公告",
      "webhookId": "請自行更改為自己的WebhookID",
      "credentials": {
        "telegramApi": {
          "id": "請自行更改為自己的Telegram帳號",
          "name": "請自行修改"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ 報名資料已存入系統\n\n👤 姓名：{{ $json[\"姓名\"] }}\n🪪 身分證：{{ $json[\"身分證\"].toString().substring(0,3) }}xxxxx{{ $json[\"身分證\"].toString().slice(-2) }}\n🎂 生日：{{ $json[\"生日\"].toString().substring(0,3) }}/{{ $json[\"生日\"].toString().substring(3,5) }}/{{ $json[\"生日\"].toString().substring(5,7) }}\n📱 手機：{{ $json[\"手機號碼\"] }}\n🚗 車種：{{ ({'3':'普通重型機車','5':'普通輕型機車','A':'普通小型車','B':'職業小型車','C':'普通大貨車','D':'職業大貨車','E':'普通大客車','F':'職業大客車','G':'普通聯結車','H':'職業聯結車'})[$json[\"車種代碼\"].toString()] || '機車' }}\n📍 地點：{{ (function(id){ const list = {'21':'士林','25':'基隆','26':'金門','28':'連江','40':'臺北區','41':'板橋','43':'宜蘭','44':'花蓮','45':'玉里','46':'蘆洲','50':'新竹區','51':'新竹市','52':'桃園','53':'中壢','54':'苗栗','60':'臺中區','61':'臺中市','62':'埔里','63':'豐原','64':'彰化','65':'南投','70':'嘉義區','71':'東勢','72':'雲林','73':'新營','74':'臺南','75':'麻豆','76':'嘉義市','30':'高雄市區','31':'苓雅','33':'旗山','80':'高雄區','81':'臺東','82':'屏東','83':'恆春','84':'澎湖'}; return list[id.toString()] || '未設定地點(' + id + ')'; })($json[\"監理站代碼\"]) }}監理站\n📅 預計報名場次：{{ $json[\"報名日期\"].toString().substring(0,3) }}/{{ $json[\"報名日期\"].toString().substring(3,5) }}/{{ $json[\"報名日期\"].toString().substring(5,7) }} 之後所有\n\n--------------------------\n📥 需求送出時間：{{ $now.setZone('Asia/Taipei').toFormat('yyyy/MM/dd HH:mm') }}\n🚀 系統執行時間：{{ $now.plus({ days: 1 }).setZone('Asia/Taipei').toFormat('yyyy/MM/dd') }} 08:00\n--------------------------\n\n💡 系統將於明早準時為您嘗試報名，結果會立即通知",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        -736
      ],
      "id": "4dc780c4-6e43-4276-b511-7440a1a8a244",
      "name": "確認訊息",
      "webhookId": "請自行更改為自己的WebhookID",
      "credentials": {
        "telegramApi": {
          "id": "請自行更改為自己的Telegram帳號",
          "name": "請自行修改"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "請自行修改",
          "mode": "list",
          "cachedResultName": "請自行修改",
          "cachedResultUrl": "請自行修改"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "請自行修改"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "報名日期": "={{ $json.message.text.split('/')[2].trim() }}",
            "監理所代碼": "={{ $json.message.text.split('/')[3].trim() }}",
            "監理站代碼": "={{ $json.message.text.split('/')[4].trim() }}",
            "身分證": "={{ $json.message.text.split('/')[5].trim() }}",
            "生日": "={{ $json.message.text.split('/')[6].trim() }}",
            "姓名": "={{ $json.message.text.split('/')[7].trim() }}",
            "手機號碼": "={{ $json.message.text.split('/')[8].trim() }}",
            "Email": "={{ $json.message.text.split('/')[9].trim() }}",
            "處理狀態": "登記成功",
            "車種代碼": "={{ $json.message.text.split('/')[1].trim() }}",
            "TelegramID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "車種代碼",
              "displayName": "車種代碼",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "報名日期",
              "displayName": "報名日期",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "監理所代碼",
              "displayName": "監理所代碼",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "監理站代碼",
              "displayName": "監理站代碼",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "身分證",
              "displayName": "身分證",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "生日",
              "displayName": "生日",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "姓名",
              "displayName": "姓名",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "手機號碼",
              "displayName": "手機號碼",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "處理狀態",
              "displayName": "處理狀態",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TelegramID",
              "displayName": "TelegramID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2da2280c-69f9-47da-86ca-054fd956440e",
      "name": "存入資料",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        640,
        -736
      ],
      "credentials": {
        "googleApi": {
          "id": "請自行修改",
          "name": "請自行修改"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "沒搞",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        -544
      ],
      "id": "1f5561ed-3d9c-460f-8a3b-7d970d128326",
      "name": "過濾訊息",
      "webhookId": "請自行更改為自己的WebhookID",
      "credentials": {
        "telegramApi": {
          "id": "請自行更改為自己的Telegram帳號",
          "name": "請自行修改"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text.trim() }}",
              "value2": "/start"
            }
          ]
        }
      },
      "id": "b98a6954-a533-4bfd-8bd8-fa9f0144417f",
      "name": "判斷輸入",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        192,
        -736
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "早八幹一票大的": {
      "main": [
        [
          {
            "node": "引入參數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "設定全域參數": {
      "main": [
        [
          {
            "node": "拉Cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拉Cookie": {
      "main": [
        [
          {
            "node": "查詢場次",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查詢場次": {
      "main": [
        [
          {
            "node": "解析與組裝報名參數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析與組裝報名參數": {
      "main": [
        [
          {
            "node": "初始化報名表單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "初始化報名表單": {
      "main": [
        [
          {
            "node": "送出報名",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查詢報名結果": {
      "main": [
        [
          {
            "node": "判斷報名結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "送出報名": {
      "main": [
        [
          {
            "node": "查詢報名結果",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "無場次",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否成功": {
      "main": [
        [
          {
            "node": "寄發成功訊息",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "數據不符或查無",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "判斷輸入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "過濾密語": {
      "main": [
        [
          {
            "node": "存入資料",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "過濾訊息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "引入參數": {
      "main": [
        [
          {
            "node": "設定全域參數",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判斷報名結果": {
      "main": [
        [
          {
            "node": "是否成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "刪除使用者資料": {
      "main": [
        []
      ]
    },
    "寄發成功訊息": {
      "main": [
        [
          {
            "node": "刪除使用者資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "無場次": {
      "main": [
        [
          {
            "node": "刪除使用者資料2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "數據不符或查無": {
      "main": [
        [
          {
            "node": "刪除使用者資料1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "刪除使用者資料2": {
      "main": [
        []
      ]
    },
    "存入資料": {
      "main": [
        [
          {
            "node": "確認訊息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判斷輸入": {
      "main": [
        [
          {
            "node": "/start 公告",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "過濾密語",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "dcd053e7-5b51-4512-8f7c-f8aa7d1537ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}